@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

:root {
  font-size: 16px;
  --darkPinkPastel: #f3d1dc;
  --candyPink: #feadb9;
  --dustPink: #f0c5d5;
  --midPurple: #ab6393;
  --purple: #a685e2;
  --veryPurple: #9c8ade;
}

button {
  border: none;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  border: none;
  outline: none;
}

body {
  background-color: #feadb9;
}

header {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  background-color: var(--darkPinkPastel);
  h1 {
    font-family: "Josefin Sans", sans-serif;
    color: black;
    font-size: 40px;
    font-style: bold;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 0;
  position: absolute;
}
.item {
  flex: 0 32%;
  width: 500px;
  margin-bottom: 2%;
}
.dropdown {
  font-family: "Josefin Sans", sans-serif;
  margin: 5px 0 10px 0;
  font-size: 27px;
}
.container-dropdown {
  display: inline-block;
}
