@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
    font-size: 16px;
    --darkPinkPastel: #F3D1DC;
    --candyPink: #FEADB9;
    --dustPink: #F0C5D5;
    --midPurple: #AB6393;
    --purple: #a685e2;
    --veryPurple: #9C8ADE;
}

header {
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
    background-color: var(--darkPinkPastel);
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        color:black;
        font-size: 40px;
        font-style: bold;
    }
}